body{
    margin: 0px;
    padding: 0px;
    background-color: #E6E6E6;
}

#header {
    background-color: #1B33BF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

#nav {
    flex: 0 0 auto;
}


/* LOGO */
#btn-mobile {
    display: block;
}

#logo {
    flex: 0 0 auto;
    margin-left: 47.5%;
}

#logo-ifc {
    margin-top: 20%;
}

/* MENU */
#menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 11%;
    right: 0px;
    height: 0;
    padding-top: 20px;
    transition: .5s;
    background: #0460D9;
    z-index: 1000;
    visibility: hidden;
    overflow-y: hidden;
    text-align: center;
}

#nav.active #menu {
    height: calc(100vh - 70px);        display: block;
    visibility: visible;
    overflow-y: auto;
}

#menu li {
    margin-top: 20px;
}

#menu a {
    display: inline-block;
    padding: 1rem 0;
    color: white;
    border-bottom: 2px solid #217df5;
    width: 20%;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}
#btn-mobile {
    display: flex;
    padding: .5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: .5rem;
    color: white;
}

#hamburguer {
    display: block;
    width: 20px;
    border-top: 2px solid;
}

#hamburguer::after, #hamburguer::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: .3s;
    position: relative;
}

#nav.active #hamburguer {
    border-top-color: transparent;
}

#nav.active #hamburguer::before {
    transform: rotate(135deg);
}

#nav.active #hamburguer::after {
    transform: rotate(-135deg);
    top: -7px;
}


main {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 500px;
    margin-left: 500px;
    font-size: 16px;
    line-height: 0.635cm;
    text-align: justify;
    background-color: white;
    box-shadow: 0 4px 14px rgba(0,0,0, .4);
}

#capa {
    text-align: center;
}

#instituto {
    margin-top: 50px;
    text-align: center;
    line-height: 0;
}

#tecnico {
    text-align: center;
    line-height: 0;
}

#campus {
    text-align: center;
    line-height: 0;
}

.nomes {
    margin-top: 30px;
    text-align: center;
    font-weight: bold;
    line-height: 0.635cm
}

.projeto {
    margin-top: 200px;
    text-align: center;
    font-size: 16px;
}

.topicos {
    line-height: 0;
    margin: 0;
}

.araquari {
    margin-top: 300px;
}

span.quebra-de-pagina {
    display: inline-block;
    border-bottom: 5px solid gray;
    width: 100%;
}

#folha-de-rosto {
    margin-top: 50px;
    text-align: center;
    line-height: 0.635cm;
}

.numero-pagina {
    text-align: right;
    margin-top: 50px;
    margin-right: 10%;
}

#primeiro-trabalho {
    margin-top: 20%;
    margin-left: 60%;
    margin-right: 10%;
    text-align: justify;
}

.sumario {
    text-align: left;
    font-size: 16px;
    margin-left: 3cm;
    margin-top: 3cm;
    margin-bottom: 2cm;
    margin-right: 3cm;
}

.titulo {
    text-align: center;
    font-size: 16px;
}
